<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Welcome to the logbook display page</h1>
    <p>Here you can view your logbook entries</p>
    <form method=post action="submit">
        <table >
            <tr>
                <td><input type="text" name="hours" /></td>
                <td>Hours</td>
            </tr>
            <tr>
                <td> <input type="submit" title="submit" /> </td>
            </tr>
            
        </table>
    </form>
 
</body>
</html>