<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Data Entry</title>
</head>
<body>
    <h1>Hour Entry Page</h1>
    <p>Here you can enter a logbook entry</p>
    <form method=post action="displayData">
        <table >
            <tr>
                <td><input type="date" name="date" /> Date</td>
            </tr>
            <tr>
                <td><input type="text" name="hours" /> Hours</td>  
            </tr>
            <tr>
                <td><input type="text" name="aircraft" /> Aircraft</td>
            </tr>
            <tr>
                <td> <input type="submit" title="submit" /> </td>
            </tr>
        </table>
    </form>

</body>
</html>