<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Login</title>
</head>
<body>
    <h1>Login Page</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <p>Enter your credential below</p>
  
    <form method=post action="login" >
        <table>
            <tr>
                <td> <input type="text" name="username" /> Username</td>
            </tr>
            <tr>
                <td> <input type="password" name="password" /> Password</td>
            </tr>
            <tr>
                <td> <input type="submit" title="submit" /> </td>
            </tr>
        </table>
    </form>
   
</body>
</html>